@font-face {
    font-weight: 300;
    font-family: "Poppins";
    src: url("../Fonts/Poppins/Poppins-Light.ttf");
  }

@font-face {
    font-weight: 400;
    font-family: "Poppins";
    src: url("../Fonts/Poppins/Poppins-Regular.ttf");
  }
  
  @font-face {
    font-weight: 700;
    font-family: "Poppins";
    src: url("../Fonts/Poppins/Poppins-Bold.ttf");
  }
  
  @font-face {
    font-weight: 800;
    font-family: "Poppins";
    src: url("../Fonts/Poppins/Poppins-ExtraBold.ttf");
  }

  @font-face {
    font-weight: 900;
    font-family: "Poppins";
    src: url("../Fonts/Poppins/Poppins-Black.ttf");
  }

body {
    font-family: "Poppins", monospace;
    font-weight: 400;
    font-size: 24px;
    width: 1500px;
}

header {
  margin: 40px 0 200px 70px;
}

.bold-48 {
  font-size: 48px;
  font-weight: 700;
}

.logo-text {
  color: #0E0578;
  margin: 0 220px 0 0;
  display: inline-block;
  vertical-align: middle;
}

#menu {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
  }

.ul-without-markers {
    list-style-type: none;    
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: #686565;
    text-align: left;
  }

 .ul-without-markers li {
    display: inline;
    margin: 0 30px;
 }

#welcome {
  columns: 250px 2;
  margin-left: 70px;
}

#about-me {
  background-color: rgba(32, 0, 231, 0.04);
  width: 100vw;
  margin-top: 162px;
  height: 905px;
}

.spacing-35 {
  letter-spacing: 1rem;
  margin: 0;
}

#about-me div {
  width: 2000px;
  columns: 250px 2;
  padding: 206px 46px;
}

#about-me div p {
  width: 415px;
  margin-top: 14px;
}

#about-me div form {
  margin-left: 31px;
}

#about-me div img {
  position: relative;
  height: 925px;
  width: 925px;
  top: -220px;
  left: -520px;
}

.regular-30 {
  font-size: 30px;
  margin: -25px 0 0 0;
}

.blue {
  color: #2000E7;
}

.yellow {
  color: #F2BD00;
}

.white {
  color: #FFFFFF;
}

.bkgr-blue {
  background-color: #2000E7;
}

.bkgr-lightblue {
  background-color: rgba(67, 186, 253, 0.06);
}

.lorem-box {
  box-sizing: border-box;
  width: 650px;
  height: 150px;
  overflow: auto;
}

.button {
  box-sizing: border-box;  
  width: 246px;
  height: 72px;
  border: 2px solid #2000E7;
  border-radius: 10px;
  font-size: 24px;
  box-shadow: 15px 25px 15px 0 #BFBFBF;  
  margin: 15px 80px 25px 0;
}

img {
  max-width: 100%;
  height: auto;
}

.my-photo * {
  border-radius: 0 0 0 191px;
  box-shadow: 30px -25px 0 0 #C3BAFD;
}
